[submodule "zRexxIncludes"]
	path = zRexxIncludes
	url = https://github.com/DaveLClarkI/zRexxIncludes.git
[submodule "zAssemblerMacros"]
	path = zAssemblerMacros
	url = https://github.com/DaveLClarkI/zAssemblerMacros.git
